<!DOCTYPE html>
<html>
<head>
    <title>Sale Details</title>
</head>
<body>
    <h1>Sale Details</h1>
    <div>
        <h2>Invoice No: {{carSale.Invoice_ID}}</h2>
        <p>Branch: {{carSale.Branch}}</p>
        <p>City: {{carSale.City}}</p>
        <p>Product line: {{carSale.Product_line}}</p>
        <p>name: {{carSale.name}}</p>
        <p>image: {{carSale.image}}</p>
        <p>Unit Price: {{carSale.Unit_price}}</p>
        <p>Date: {{carSale.Date}}</p>
        <p>Payment: {{carSale.Payment}}</p>
        <p>Rating: {{carSale.Rating}}</p>


    </div>
</body>
</html>
